<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--第一步-->
    <!--DataSource:使用Spring的数据源替代MyBatis的配置
            我们这里使用的spring提供的JDBC:-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/dayu?useSSL=true&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>
        <property name="username" value="root"/>
        <property name="password" value="807543790"/>
    </bean>

    <!--第二步-->
    <!--SQLSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
            <property name="dataSource" ref="dataSource"/>

            <!--拓展：绑定MyBatis的xml文件-->
            <property name="configLocation" value="classpath:MyBatis-config.xml"/>
            <!--拓展：替代之前的MyBatis里的Mappers标签-->
            <property name="mapperLocations" value="classpath:com/zhangbin/mapper/*.xml"/>
    </bean>

    <!--第三步-->
    <!--SqlSessionTemplate:就是我们使用的SqlSession-->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <!--这里只能使用构造器注入，应为该方法没有SET方法-->
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>


</beans>